@media (max-width: 1199px)
    .container
        width: 960px
    .header
        padding: 30px 70px 26px 70px
    .promo
        column-gap: 82px
        &__wrap
            grid-template-columns: 380px 506px
            column-gap: 10px
        &__title
            font-size: 36px
        &__item
            &-price
                left: -20px
            &-diameter
                right: -40px
    .popular
        padding: 40px 0 60px 0
        &__items
            grid-template-columns: repeat(auto-fit, 314px)
    .quality
        padding: 35px 60px
        &__wrap
            grid-template-columns: 500px 363px
            column-gap: 40px
    .news
        &__wrap
            justify-content: flex-start
        padding: 70px 0
        &__text-block
            width: 370px
        &__img-block
            grid-template-columns: 228px 300px
            grid-template-rows: repeat(auto-fit, 228px)
        &__img
            object-fit: cover
            height: 100%
    .footer
        padding: 60px 60px
        &__block-list
            margin-top: 25px
@media (max-width: 992px)
    .container
        width: 720px
    .title
        font-size: 26px
    .btn
        width: 160px
        height: 50px
    .slider
        margin: 10px 20px 0 0
    .price
        font-size: 14px
    .header
        padding: 20px 30px
    .promo
        height: 500px
        &::before
            width: 310px
            height: 620px
            transform: translateX(-53%)
        &__wrap
            grid-template-columns: 280px 410px
        &__title
            font-size: 28px
            line-height: 40px
        &__item-img
            width: 80%
        &__subtitle
            font-size: 24px
            margin-bottom: 20px
        &__description
            margin-bottom: 20px
        &__item
            &-price
                top: 60px
                left: -40px
                &::before
                    right: 20px
            &-diameter
                bottom: 90px
                right: 10px
                &::before
                    left: 20px
    .popular
        padding: 20px 0 20px 0
        &__items
            margin-top: 20px
            grid-auto-rows: 425px
        &__item
            &-name
                margin-top: 10px
            &-more
                margin-bottom: 10px
    .quality
        padding: 30px 0 10px 0
        &__wrap
            grid-template-columns: 360px 320px
            column-gap: 40px
        &__img-block
            &::before
                width: 450px
        &__description
            margin: 20px 0
        &__text-block
            align-items: center
    .news
        &__wrap
            justify-content: space-between
        &__text-block
            min-width: 260px
        &__social
            margin-top: 40px
        &__img-block
            grid-template-columns: 200px 250px
            grid-template-rows: repeat(auto-fit,200px)
    .footer
        // row-gap: 30px
        grid-template-columns: repeat(2,minmax(120px,180px))
        justify-content: space-around
        &__block-list
            margin-top: 20px

@media (max-width: 767px)
    .container
        width: 540px
        .title
            text-align: center
    .menu
        display: none
    .burger
        display: flex
    .float-menu
        display: block
    .promo
        height: 345px
        &::before
            width: 240px
            height: 480px
            transform: translateX(-46%)
        &__wrap
            grid-template-columns: 240px 280px
        &__text-block
            padding-left: 40px
        &__title
            font-size: 23px
            &::before
                width: 20px
                left: -30px
        &__subtitle
            font-size: 20px
        &__item
            &-price
                top: 20px
                &::before
                    right: 50px
                    width: 20px
            &-diameter
                right: -20px
                &::before
                    left: 50px
                    width: 20px
    .popular
        &__items
            justify-content: center
    .quality
        &__wrap
            grid-template-columns: repeat(auto-fit, 360px)
            justify-content: center
            row-gap: 20px
        &__img-block
            &::before
                width: 450px
        &__description
            margin: 20px 0
        &__text-block
            grid-row: 1
            align-items: center

    .news
        padding: 50px 0
        &__wrap
            flex-flow: wrap
            justify-content: center
        &__text-block
            min-width: 540px
        &__description
            text-align: center
            margin-bottom: 20px
        &__social
            &_active
                display: none
            &_hided
                display: flex
    .footer
        grid-auto-rows: 150px
@media(max-width: 576px)
    .container
        width: auto
        padding: 0 10px
    .btn
        width: 150px
        height: 40px
    .price
        font-size: 10px
    .float-menu
        &__item
            a
                font-size: 20px
    .header
        padding: 20px 10px
    .news
        padding: 30px 0
        &__text-block
            min-width: 300px
        &__img-block
            grid-template-columns: 280px
        &__img
            &_big
                grid-column: unset
                grid-row: unset
    .promo
        height: 518px
        &::before
            transform: translateX(-74%)
            top: 180px
            width: 180px
            height: 360px
        &__title
            font-size: 28px
        &__subtitle
            font-size: 24px
        &__wrap
            grid-template-columns: 240px
            justify-content: center
        &__text-block
            padding-left: 0
            text-align: center
        &__item
            &-img
                margin-left: 40px
            &-price
                top: 35px
                left: 10px
                &::before
                    right: 65px
            &-diameter
                left: 88px
                bottom: 50px
                &::before
                    left: 85px
    .quality
        &__wrap
            grid-template-columns: 300px
        &__description
            text-align: center
    .footer
        height: auto
        padding: 30px 20px
        grid-template-columns: repeat(auto-fit, 280px)
        grid-auto-rows: 150px
        li
            font-size: 16px